<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClusterApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5229088D1DB9E01900A7B5A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522908A91DB9E01900A7B5A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522908B41DB9E01A00A7B5A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
